<form method="post" action="{{ path('ticket_delete', {'id': ticket.id}) }}" onsubmit="return confirm('Vous étes sure que vous voulez effacer cette demande?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ticket.id) }}">
    <br>
    <button class="btn btn-primary">Supprimer</button>
</form>
