{% extends 'base.html.twig' %}

{% block title %}Nouvelle demande{% endblock %}

{% block body %}
    <h1>Nouvelle demande</h1>
    
    {{ include('ticket/_form.html.twig') }}

    <a href="{{ path('ticket_index') }}"> <button class="btn btn-primary">retour</button></a>
{% endblock %}
{% block title1%} Nouvelle demande {% endblock %}
{% block title2%} Nouvelle demande {% endblock %}